@use 'mixins.scss' as bp;

:root {
  --color-shadow: rgba(226, 236, 249, .1);

  --pl-wrap: 38px;
  --pr-wrap: 40px;
  --table-tr-gap: 24px;

  @include bp.asideMin {
    --pl-wrap: 20px;
    --pr-wrap: 20px;
    --table-left-padding: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

main {
  padding: 41px 20px 40px 71px;
  background-color: #FAFBFF;
  overflow-y: scroll;

  @include bp.maxw(1383px) {
    padding-left: 20px;
  }

  @include bp.mobi {
    padding-left: 4px;
    padding-right: 4px;
  }

  .greetings {
    margin-bottom: 52px;

    font-size: 24px;
    font-weight: 500;

    @include bp.maxw(800px) {
      margin-bottom: 18px;
      text-align: center;
    }
  }
}