@use 'sass:list';
@use 'mixins.scss' as bp;

@mixin columnsPaddings($paddings...) {
  @for $i from 1 through length($paddings) {
    thead tr th:nth-child(#{$i}),
    tbody tr td:nth-child(#{$i}) {
      padding-right: list.nth($paddings, $i);
    }
  }
}

$bordersColor: #eee;

.customers__table-wrapper {
  max-width: 100%;

  margin-bottom: 30px;

  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar
  {
    height: 5px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb
  {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }

  .customers__table {
    border-collapse: collapse;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.14px;

    @include columnsPaddings(54px, 61px, 47px, 39px, 47px);

    @include bp.maxw(1085px) {
      @include columnsPaddings(35px, 35px, 35px, 35px, 35px);
    }

    @include bp.maxw(800px) {
      @include columnsPaddings(28px, 28px, 28px, 28px, 28px);
    }

    tr::before {
      content: "";
      padding-left: var(--pl-wrap);
    }

    tr::after {
      content: "";
      padding-right: var(--pr-wrap);
    }

    thead {
      th {
        padding-bottom: 13px;
        border-bottom: 1px solid $bordersColor;

        color: #B5B7C0;
        text-align: left;

        &:last-child {
          padding-left: 12px;
          padding-right: 0;
        }
      }
    }

    tbody {
      color: #292D32;

      tr:first-child::before, tr:first-child::after {
        border-top: 1px solid $bordersColor !important;
      }

      tr {
        transition: background-color .05s;

        &::before, &::after {
          transition: border-top .05s;
          border-top: transparent;
        }

        &:hover {
          background-color: $bordersColor;

          &::before, &::after {
            border-top: 1px solid $bordersColor;
          }
        }
        
        td {
          padding-top: 24px;
          padding-bottom: 23px;
          border-bottom: 1px solid $bordersColor;
          white-space: nowrap;

          a {
            text-decoration: none;
            color: #292D32;

            &:hover {
              text-decoration: underline;
            }
          }

          &:last-child {
            padding: 0;

            .active, .inactive {
              width: 84px;
              padding: 3px 13px;
              box-sizing: border-box;
              border-radius: 4px;

              text-align: center;
              font-size: 14px;
              font-weight: 500;
              letter-spacing: -0.14px;
            }

            .active {
              color: #008767;
              border: 1px solid #00B087;
              background-color: rgba(22, 192, 152, 0.38);
            }

            .inactive {
              color: #DF0404;
              border: 1px solid #DF0404;
              background-color: #FFC5C5;
            }
          }
        }
      }
    }
  }
}